opencv-contrib-python
numpy~=1.22.2
nltk~=3.7
flask~=2.0.3
imutils~=0.5.4
shapely
pony~=0.7.16
wordcloud~=1.8.1
factory-boy
beautifulsoup4~=4.10.0
google-images-download
google-images-search

Werkzeug~=2.0.3
requests~=2.27.1