<!DOCTYPE html>
<html lang="en">
<head>
  <title>WWT Capstone Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <h1><b>Old Collage Try</b></h1>
    <h2>WWT Capstone Project</h2>
    <h4>Lillie Sauer</h4>
</div>

<div class="text-center">
    <h4>Upload a text file:</h4>
    <br>
<form action="http://127.0.0.1:8080/collage" method="POST"
      enctype="multipart/form-data">
    <input type="file" name="file"/>
    <button class="btn btn-outline-success" type="submit">Submit</button>
</form>
</div>
<style>
      p {
        font-family: "Helvetica", sans-serif;
        font-size: 20px;
      }
      .hidden {
        display: none;
      }
    </style>
<div class="container">
    <br>
    <div class="row text-center">
             <!--collage grid-->
            {% for row in collages %}
            <div class="col-sm m-1">
                <img src="{{ url_for('static', filename=row.path) }}"
                     height="{{ img_size }}"
                     alt="{{ row.name }}">
                <br>
                <p>{{row.name}}</p>
                <form action="" method="post">
                <a href="/update/{{row.id}}" class="btn btn-outline-primary"
                   data-target="#modaledit{{row.id}}"
                   data-toggle="modal" methods="POST">Rename</a>
                    <button formaction="/delete/{{row.id}}" class="btn btn-outline-danger"
                            type="submit"
                            onclick="return confirm('Are you sure you want to delete this masterpiece?')">
                            Delete
                    </button>
                </form>
                <!--rename modal-->
                <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
                <div class="modal-dialog" >
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Update Name</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('rename_collage', collage_id=row.id)}}" method="POST">
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="hidden"  name="id" value="{{row.id}}">
                                    <input type="text" class="form-control" name="name" value="{{row.name}}">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Update</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            {% endfor %}

    </div>
</div>

</body>
</html>